{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>BOX info App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'boxapp/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'boxapp/styles.css' %}" />
	</head>
	<body>
		<h2 >This app Provides all information of files present inside the folders  (who has a box account and also uploaded some files)  </h2>
		<div class="container-fluid" id="wrapper">
			
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					

				 <ul class="list-group t20">
						{% for key,value in file_list.items %}
						<li class="list-group-item box-info">{{ key }}</li>
						{{value}}
						{% endfor %}
					</ul> 
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2020 <strong>File Info App</strong>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>